*
!*/
!/.gitignore
!/.gitattributes
!/README.adoc
!/Pulumi.yaml
!/package.json
!/tsconfig.json
!/src/
!/src/**
!/docs/
!/docs/**
!/.github/
!/.github/workflows/
!/.github/workflows/encoding-guard.yml
!/.editorconfig
